<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PersonList</title>
</head>
<body>
<div style="background-color: wheat">
    <ul>
        {% for i in object_list %}
        <li>
            <h1>Имя:{{i.name}}</h1>
            <p>Возраст:{{i.age}}</p>
            <a href="/person_list/{{i.id}}/">Детально</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div style="background-color: darksalmon">
    <center>
        <h1>CRUD</h1>
        <button style="width: 100px; height: 50px; background-color: lawngreen">
            <a href="/create_person/">Добавить</a>
        </button>

        <button style="width: 100px; height: 50px;background-color: orangered">
            <a href="">Удалить</a>
        </button>

        <button style="width: 100px; height: 50px;background-color: yellow">
            <a href="">Изменить</a>
        </button>
    </center>
</div>
</body>
</html>